In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
conditions_df = pd.read_csv('../data/cdc_death_counts_by_conditions.csv')
sex_age_df = pd.read_csv('../data/cdc_death_counts_by_sex_age_state.csv')

In [3]:
conditions_df.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,03/28/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,344.0,356.0,NaN
1,03/28/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,1572.0,1608.0,NaN
2,03/28/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,4253.0,4359.0,NaN
3,03/28/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,12716.0,13060.0,NaN
4,03/28/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,32699.0,33528.0,NaN

In [4]:
sex_age_df.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,03/31/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,All Sexes,All Ages,533291.0,4103982.0,460433.0,259678.0,9020.0,741824.0,NaN
1,03/31/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,All Sexes,Under 1 year,57.0,22249.0,241.0,8.0,21.0,311.0,NaN
2,03/31/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,All Sexes,0-17 years,246.0,38993.0,658.0,44.0,179.0,1039.0,NaN
3,03/31/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,All Sexes,1-4 years,31.0,4010.0,136.0,5.0,61.0,223.0,NaN
4,03/31/2021,01/01/2020,03/27/2021,By Total,NaN,NaN,United States,All Sexes,5-14 years,87.0,6479.0,192.0,19.0,76.0,336.0,NaN

In [5]:
conditions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223560 entries, 0 to 223559
Data columns (total 14 columns):
Data As Of            223560 non-null object
Start Date            223560 non-null object
End Date              223560 non-null object
Group                 223560 non-null object
Year                  211140 non-null float64
Month                 186300 non-null float64
State                 223560 non-null object
Condition Group       223560 non-null object
Condition             223560 non-null object
ICD10_codes           223560 non-null object
Age Group             223560 non-null object
COVID-19 Deaths       167340 non-null float64
Number of Mentions    168911 non-null float64
Flag                  56220 non-null object
dtypes: float64(4), object(10)
memory usage: 23.9+ MB

In [6]:
sex_age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49572 entries, 0 to 49571
Data columns (total 16 columns):
Data As Of                                  49572 non-null object
Start Date                                  49572 non-null object
End Date                                    49572 non-null object
Group                                       49572 non-null object
Year                                        46818 non-null float64
Month                                       41310 non-null float64
State                                       49572 non-null object
Sex                                         49572 non-null object
Age Group                                   49572 non-null object
COVID-19 Deaths                             37885 non-null float64
Total Deaths                                42324 non-null float64
Pneumonia Deaths                            34530 non-null float64
Pneumonia and COVID-19 Deaths               38339 non-null float64
Influenza Deaths                            39910 non-null float64
Pneumonia, Influenza, or COVID-19 Deaths    34805 non-null float64
Footnote                                    33052 non-null object
dtypes: float64(8), object(8)
memory usage: 6.1+ MB

In [7]:
conditions_df.describe()

                Year          Month  COVID-19 Deaths  Number of Mentions
count  211140.000000  186300.000000    167340.000000       168911.000000
mean     2020.235294       5.600000       141.825642          150.656796
std         0.424184       3.592595      2475.513246         2614.324783
min      2020.000000       1.000000         0.000000            0.000000
25%      2020.000000       2.000000         0.000000            0.000000
50%      2020.000000       5.000000         0.000000            0.000000
75%      2020.000000       9.000000        22.000000           23.000000
max      2021.000000      12.000000    530318.000000       530318.000000

In [8]:
df = sex_age_df[(sex_age_df['Group'] == 'By Total') & (sex_age_df['State'] != 'United States') & (sex_age_df['Sex'] != 'All Sexes') & (sex_age_df['Age Group'] != 'All Ages')]
df.drop(['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month', 'Footnote'], axis = 1, inplace= True)
df  = df[~df['Age Group'].isin(['0-17 years', '18-29 years', '30-39 years', '40-49 years', '50-64 years'])]

C:\Users\adity\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
def fill_row(x):
    if(pd.isnull(x)):
        return np.random.randint(low = 1, high = 9)
    return x
def impute(series_):
    series_ = series_.apply(lambda x: fill_row(x))
    return series_
df = df.apply(lambda x: impute(x))

In [10]:
def func(x):
    if x == "Under 1 year":
        return 0
    elif x == "85 years and over":
        return 85
    return x.split("-")[0]
df['Age Group'] = df['Age Group'].apply(lambda x : func(x))

In [11]:
df.to_csv('../data/cdc_sex_age_state_filtered.csv')